Options +FollowSymLinks
Options -Indexes
IndexIgnore *
RewriteEngine on
RewriteBase /znasichdani
#RewriteBase /x/znasichdani/

# force www
#RewriteCond %{HTTP_HOST}								!^www\. [NC]
#RewriteRule ^										http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# remove index.php
RewriteRule ^(.*)index\.php(.*)$						$1$2 [R=301]

# nice urls
RewriteRule ^en/([a-z0-9_]+)?/?([a-z0-9_]+)?/?([-a-z0-9_]+)?/?$		?var1=$1&var2=$2&var3=$3 [NC,QSA]
RewriteRule ^([a-z0-9_]+)/?([a-z0-9_]+)?/?([-a-z0-9_]+)?/?$		?var1=$1&var2=$2&var3=$3 [NC,QSA]

# fix requested resources
RewriteRule (site|content|system)/(.*)$				$1/$2
